* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background-color: #f2f2f2;
    
    
}

.main {
    display: block;
    width: 700px;
    margin: 0 auto;
    padding: 75px;
}

.box1 {
    background-color: #ffffff;
    width: 700px;
    height: 250px;
}

h1 {
  color: hsl(179, 62%, 43%);   
}

.box1-p1 {
    color:  hsl(71, 73%, 54%);
}


.box2 {
    width: 350px;
    height: 250px;
    background-color: hsl(179, 62%, 43%);
    float: left;
    
}

button {
    background-color: hsl(71, 73%, 54%);
    color: #ffffff;
    width: 250px;
    margin: 50px;
}

h4 {
    color: #ffffff;
}

.box3 {
    width: 350px;
    height: 250px;
    background-color: hsl(179, 49%, 59%);
    float: right;
    
}

ul li {
    list-style: none;
}