* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

body {
    font-size: 16px;
    background-color: #f2f2f2;
    
    
}

.main {
    display: block;
    width: 700px;
    margin: 0 auto;
    padding: 75px;
}

.box1 {
    background-color: #ffffff;
    width: 700px;
    height: 250px;
    border-radius: 10px 10px;
}

h1 {
  color: hsl(179, 62%, 43%);
  margin-bottom: 15px;   
}

.box1-p1 {
    color:  hsl(71, 73%, 54%);
    margin-bottom: 20px;
}

.box1-p2 {
    color: hsl(218, 22%, 67%);
}


.box2 {
    width: 350px;
    height: 250px;
    background-color: hsl(179, 62%, 43%);
    float: left;
    border-radius: 0px 0px 0px 10px;
    
}

button {
    background-color: hsl(71, 73%, 54%);
    color: #ffffff;
    width: 250px;
    height: 50px;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 5px;
    
    
}

h3 {
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 700;
}

.box3 {
    width: 350px;
    height: 250px;
    background-color: hsl(179, 49%, 59%);
    float: right;
    border-radius: 0px 0px 10px 0px;
    
}

ul li {
    list-style: none;
    color:hsl(204, 43%, 93%);
}

.contenido {
    padding: 30px;
}


footer {
    margin-top: 200px;
}
.attribution {
    font-size: 14px;
    text-align: center;
    
}